.bg-image {
    background-image: url('../assets/images/eggs1.jpg');
    background-size: cover;
    background-position: center center;
    height: 530px;
    position: relative;
}
.bg-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
/* Estilos personalizados para el texto y el botón */
.text-container {
    position: absolute;
    top: 50%;
    left: 30%; 
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    max-width: 40%;
}
.btns-primary {
    margin-top: 20px;
}
.btns {
    display: inline-block;
    background-color: #c49169;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 2rem;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 1rem;
    width: 3rem; /* Establece el ancho del botón en 3rem */
    height: 3rem; /* Establece la altura del botón en 3rem */
  }
.btns-primary {
margin-top: 20px;
}
.btns-primary {
    margin-top: 20px;
    }
    
    .btns {
    display: inline-block;
    background-color: #c49169;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    cursor: pointer;
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .btns:hover {
    background-color: #b47a50;
    }