<!--<app-header></app-header>-->

<!-- Contenido principal -->
<section class="bg-image">
  <div class="bg-overlay"></div> <!-- Capa oscura encima de la imagen -->
  <div class="text-container">
    <h2>Bienvenido a Huevitos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum quos, labore consectetuluptate, eos. Alias exercitationem excepturi mollitia atque ab?</p>
    <a href="#" class="btns btns-primary">Botón</a>
  </div>
</section>

<!-- Footer -->
<footer class="bg-light text-center py-3 mt-3">
  Desarrollado por <a href="">Alvaro Ortiz Pedroso</a> &copy; 2023
</footer>

